<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('club_index') }}"> Clubs</a></li>
        <li><a href="{{ path('jugador_index') }}">Jugadores</a></li>
    </ul>


</div>